body
{
	/*background: #FF9900;*/
	color: blue;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	margin: 5px 10px 10px 10px;
	padding: 0px;
}

p#banner
{
	color: #660066;
	font: 48pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	margin: 0;
	margin-left: 50px;
	margin-top: 50px;
}

div#footd1
{
	margin-top: 30px;
	width : 100%;
	clear: both;
}
p#headp1
{
	color: #660066;
	font: 11pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	margin-left: 60px;
}

p#footp1
{
	color: #660066;
	font: 11pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}

p#footp2
{
	color: green;
	font: 8pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	text-align: center;
}

div.panel1
{
  clear:both;
}

div.panel2A
{
  margin-left: 100px;
  display:inline-block;
}

div.panel2B
{
  margin-left: 100px;
  display:inline-block;
  width: 50%;
}

div.panel3
{
	width : 50%;
}

div.panel3 a 
{
	color: #996600;
}
.box-1
{
	margin: 2px 2px 2px 2px;
	background: #eeeeee;
	padding: 2px;
}
.box-10
{
	margin: 2px 2px 2px 2px;
	background: #eeeeee;
	padding: 2px;
}

#mainpanel {
	margin-top: 20px;
}
#puzzlebox {	
	border : 3px solid #996600;
	margin-left: 100px;
	float: left;
}

div.groupbox {
	border : 1px solid #996600;
	float: left;
	text-align : center;
	display: inline-block;
}

div.groupbox input
{
	float: left;
	border: 2px solid #996600;
	font: bold 16pt arial;
	color: #3333ff;
	height:35px;
	width:35px;
	text-align : center;
}

div.groupbox input.greycell
{
	background: #eeeeee;
}

div.groupbox input.greyhit
{
	background: #eeeeee;
	color: green;
}

div.groupbox input.whitecell
{
	background: #cccccc;
}

div.groupbox input.whitehit
{
	background: #cccccc;
	color: green;
}

#links{
	padding : 10px;
	float: right;
	width : 175px;
	margin-right : 20px;
	margin-top: 100px;
	border-left : 1px solid #0000FF;
	border-bottom: 1px solid #0000FF;
}
A:link,A:visited{
	color: blue;
	text-decoration: underline;
}
A:hover,A:active{
	color: red;
	text-decoration: underline;
}
.copy{
	font-size : 10px;
}
